@{
  Layout = "_Layout";
}

  <p>@Html.ActionLink("Students","Index", "students")</p>
  <p>@Html.ActionLink("Courses","Index", "courses")</p>
  <p>@Html.ActionLink("Departments","Index", "departments")</p>
  


</div>